.sidebar {
  /* position */
  position: sticky;
  top: 1rem;

  /* sizing */
  width: 100%;
  height: fit-content;
  padding-inline: 0.5rem;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 900px) {
  .sidebar {
    /* position */
    position: static;
  }
}

.thumbnail {
  width: calc(100% + 1rem);
  margin-inline: -0.5rem;
}

.image {
  /* sizing */
  width: 100%;

  /* display */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
}

.image .placeholder {
  /* position */
  z-index: 0;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* styling */
  background-color: #d0d0d0;
}

.image .placeholder svg {
  /* sizing */
  width: 200px;
}

.details {
  /* sizing */
  

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sidebar h3 {
  margin: 0;

  /* text */
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.sidebar h4 {
  margin: 0;

  /* text */
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1;
}

.dates {
  /* sizing */
  

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dates .created {
  /* text */
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
}

.dates .modified {
  /* text */
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 500;
  color: var(--text-400);
}

.tags {
  /* sizing */
  

  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tags > .tag,
.collection {
  /* styling */
  padding: 0.25rem 0.5rem;
  background-color: var(--background-200);
  border-radius: 0.25rem;

  /* text */
  font-size: 0.65rem;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;

  /* flex */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.tag > .icon,
.collection > .icon {
  font-size: 1.5em;
}

.author {
  /* sizing */
  margin-inline: 0.5rem;

  /* grid */
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 1rem;
  place-items: center left;
}

.author .profile {
  /* sizing */
  width: 100%;
  aspect-ratio: 1/1;

  /* styling */
  border-radius: 50%;
}

.author .title {
  /* text */
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}

.author .subTitle {
  /* text */
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
}

.links {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.links > a,
.links > button {
  height: 40px;
}

.links > a > .icon {
  /* position */
  position: absolute;
  inset: 0.5rem;
  left: auto;
  bottom: auto;

  /* sizing */
  font-size: 1em;
}

.links .gficon {
  /* position */
  position: absolute;
  inset: 0px;
  right: auto;

  /* sizing */
  padding: 0.5rem;
  height: 100%;

  /* sizing */
  font-size: 1.5rem;
}

/* .github {
  background: #21262d;
  color: #c9d1d9;
}

.steam {
  background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
  color: #fff;
} */


.printQrCode {
  /* hide on screen */
  display: none;
}

@media print {
  .links {
    display: none;
  }

  .printQrCode {
    /* show on print */
    display: block;

    /* sizing */
    padding: 1rem;
    width: 10rem;
    height: auto;
    margin-inline: auto;

    /* styling */
    background: var(--background-100);
    border-radius: 0.5rem;
    break-inside: avoid;
    page-break-inside: avoid;
    break-before: auto;
  }
}