.button {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;
  padding: 0.5rem 0.75rem;

  /* grid */
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 0.5rem;

  /* text */
  color: inherit;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;
  text-wrap: nowrap;

  /* styling */
  border-radius: var(--button-border-radius, 0.5rem);
  border: none;
  background: transparent;
  cursor: pointer;
}

.button.hasIcon {
  /* grid */
  display: grid;
  --_icon-size: 1rem;
  grid-template-columns: var(--_icon-size) auto auto 1fr;
  gap: 0.5rem;
}

.button.external {
  grid-template-columns: 1fr auto;
}

.button.external.hasIcon {
  grid-template-columns: var(--_icon-size) 1fr auto;
}

.button.centered {
  justify-items: center;
  text-align: center;
  padding-inline: auto;
}

.button.primary {
  /* styling */
  background: var(--accent);
  color: var(--text);
}

.button.secondary {
  /* styling */
  background: var(--primary);
  color: var(--text);
}

.button.tertiary {
  /* styling */
  background: var(--secondary);
  color: var(--text);
}

.button.siteHidden {
  display: none;
}

.button.pageHidden {
  opacity: 0;
  pointer-events: none;
}


.button.active {
  display: grid;
  background: var(--primary);
}

.button:hover {
  /* styling */
  background-color: var(--secondary);
}

.button.danger {
  /* styling */
  background: darkred;
  color: white;
}

.button.danger:hover {
  /* styling */
  background: rgb(238, 0, 0);
  color: white;
}

.button.remove {
  /* styling */
  background: darkred;
  color: var(--text);
}

.button.remove:hover {
  /* styling */
  outline: 0.125rem solid rgb(238, 0, 0);
  outline-offset: -0.125rem;
  background: rgb(62, 0, 0);
  color: var(--text);
}

.button.success {
  /* styling */
  background: var(--form-color-valid);
  color: var(--text);
  cursor: default;
}

.button.pageHidden:focus-visible,
.button:focus-visible {
  opacity: 1;
  pointer-events: auto;
  outline: solid 2px var(--text);
}

.button .icon {
  width: var(--_icon-size);
  font-size: var(--_icon-size);
  fill: currentColor;
  color: inherit;
}

.button  img {
  width: 100%;
  
}

.button span.betaTag {
  /* position */
  position: absolute;
  inset: auto;
  bottom: -0.25rem;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);

  /* sizing */
  padding: 0.125rem 0.5rem;

  /* text */
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;

  /* styling */
  color: var(--text);
  background-color: transparent;
  border-radius: var(--button-beta-tag-border-radius, 0.25rem);
}

@media screen and (min-width: 625px) {
  .button span.betaTag {
    display: inline-block;
    position: static;
    transform: none;
  background-color: var(--accent);
  }
}

.button .external {
  margin-left: auto;
  --_size: 1rem;
  width: var(--_size);
  font-size: var(--_size);
  fill: currentColor;
  color: var(--text);
}


.button:hover span.betaTag {
  background-color: var(--accent);
}

.button:disabled,
.button[aria-disabled="true"] {
  /* styling */
  background: var(--button-disabled-background, transparent);
  color: var(--button-disabled-color, var(--text-secondary));
  cursor: not-allowed;
}