.button {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;
  padding: 0.5rem 0.75rem;

  /* grid */
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 0.5rem;

  /* text */
  color: inherit;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
  text-align: left;

  /* styling */
  border-radius: 0.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

.button.hasIcon {
  /* grid */
  display: grid;
  --_icon-size: 1rem;
  grid-template-columns: var(--_icon-size) auto auto 1fr;
  gap: 0.5rem;
}

.button.external {
  grid-template-columns: 1fr auto;
}

.button.external.hasIcon {
  grid-template-columns: var(--_icon-size) 1fr auto;
}

.button.primary {
  /* styling */
  background: var(--accent);
  color: var(--text);
}

.button.secondary {
  /* styling */
  background: var(--primary);
  color: var(--text);
}

.button.siteHidden {
  display: none;
}

.button.pageHidden {
  opacity: 0;
  pointer-events: none;
}


.button.active {
  display: grid;
  background: var(--primary);
}

.button:hover {
  /* styling */
  background-color: var(--secondary);
}

.button.danger {
  /* styling */
  background: darkred;
  color: var(--text);
}

.button.danger:hover {
  /* styling */
  background: rgb(238, 0, 0);
  color: var(--text);
}

.button.success {
  /* styling */
  background: var(--form-color-valid);
  color: var(--text);
  cursor: default;
}

.button.pageHidden:focus-visible,
.button:focus-visible {
  opacity: 1;
  pointer-events: auto;
  outline: solid 2px var(--text);
}

.button .icon {
  width: var(--_icon-size);
  font-size: var(--_icon-size);
  fill: currentColor;
  color: var(--text);
}

.button  img {
  width: 100%;
  
}

.button span.betaTag {
  /* sizing */
  display: inline-block;
  padding: 0.125rem 0.5rem;

  /* text */
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;

  /* styling */
  color: var(--text);
  background-color: var(--accent);
  border-radius: 0.25rem;
}

.button .external {
  margin-left: auto;
  --_size: 1rem;
  width: var(--_size);
  font-size: var(--_size);
  fill: currentColor;
  color: var(--text);
}
