.footer {
  grid-area: footer;
    
  /* sizing */
  width: 100%;
  height: 350px;

  /* flex */
  display: flex;
  flex-direction: column;

  /* styling */
  background-color: var(--background-100);
}

.container {
  /* sizing */
  width: 100%;
  height: 100%;
  padding: 2rem 2rem;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  /* styling */
  text-align: center;
}

.column {
  /* sizing */
  height: 100%;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.column:first-of-type {
  align-items: flex-start;
}

.column:last-of-type {
  align-items: flex-end;
  justify-content: flex-end;
}

.svg {
  /* sizing */
  width: 100%;
  max-width: min(300px, 100%);

  /* styling */
  fill: currentColor;
  color: inherit;
}

.span {
  /* text */
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
}

.span a {
  /* styling */
  color: inherit;
}

.build {
  /* text */
  font-size: 0.8rem;
  font-weight: 800;
  line-height: 1;
}

@media print {
  .footer {
    display: none;
  }
}