.header {
  grid-area: nav;

  /* position */
  position: relative;
  z-index: 999;

  /* sizing */
  width: 100%;
  height: 100%;

  /* styling */
  background-color: var(--background);
  border-right: 2px solid var(--primary);
}

.container {
  /* position */
  position: sticky;
  top: 0;
  z-index: 998;

  /* sizing */
  padding: var(--header-padding, 1rem);
  padding-block: 1rem;
  /* height: fit-content; */
  height: 100dvh;
  overflow-y: auto;
  overflow-x: clip;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.container .skip {
  /* position */
  position: absolute;
  inset: 1rem;
  bottom: auto;

  /* sizing */
  width: auto;
  padding: 0.5rem 0.75rem;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .skip:focus-visible {
  background: var(--primary);
}

.container nav {
  /* sizing */
  width: 100%;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--header-nav-gap, 0.5rem);
}

.container .svg {
  /* sizing */
  height: 23px;
  margin-left: 0.75rem;
  margin-right: auto;
  flex-shrink: 0;

  /* flex */
  display: flex;

  /* color */
  fill: currentColor;
  color: inherit;
}

.container .svgSmall {
  display: none;
}

.links {
  /* sizing */
  width: 100%;
  margin: 0;
  padding: 0;

  /* flex */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--header-nav-sub-gap, 0.25rem);

  /* list */
  list-style: none;
}

.listTitle {
  margin-left: var(--header-title-padding, 1rem);

  /* text */
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 700;
  overflow-wrap: anywhere;

  margin-top: 0.5rem;
}

@media print {
  .header {
    display: none;
  }
}

@media (max-width: 625px) {
  .header {
    background-color: transparent;
    border-right: 2px solid transparent;
  }

  .header .container {
    height: 100dvh;
    width: calc(32px + 2rem);
    /* position */
    position: sticky;
    inset: 0;
    left: auto;

    /* hiding */
    transition: translate var(--header-transition);

    /* styling */
    background-color: var(--background);
    border-right: 2px solid var(--primary);
  }

  body:global(.scrolled) .header .container {
    translate: -100% 0;
  }

  body:global(.scrolled.scrolledUp) .header .container {
    translate: 0 0;
  }

  .container {
    padding: 1rem var(--header-mobile-padding, 0.5rem);
  }

  .container .svg {
    display: none;
  }

  .container .svgSmall {
    display: block;

    /* sizing */
    width: 2rem;
    margin-inline: auto;
    flex-shrink: 0;

    /* flex */
    display: flex;

    /* color */
    fill: currentColor;
    color: inherit;
  }

  .title {
    display: none;
  }

  .listTitle {
    margin-left: var(--header-title-mobile-padding, 1rem);
  }

  .links a {
    /* sizing */
    width: 100%;
    height: unset;
    aspect-ratio: 1;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links a {
    --_icon-size: 1.5rem !important;
    grid-template-columns: var(--_icon-size) !important;
  }

  .links a .external {
    /* position */
    position: absolute;
    right: 0.125rem;
    top: 0.125rem;

    --_size: 0.75rem;
  }

  .links a .content .text {
    display: none;
  }
}
