.image {
  /* sizing */
  width: 100%;

  /* display */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
}

.thumbnail {
  /* position */
  z-index: 0;

  /* sizing */
  grid-area: 1 / 1;
  width: 100%;
  aspect-ratio: 16/9;

  /* styling */
  border-radius: var(--image-border-radius, 0.5rem);
  object-fit: cover;

  /* hide alt */
  font-size: 0;
}

.image .placeholder {
  /* position */
  z-index: -1;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* styling */
  background-color: #d0d0d0;
}

.image .placeholder svg {
  /* sizing */
  width: 200px;
}
