.inputContainer {
  /* position */
  position: relative;

  /* flex */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  /* sizing */
  width: fit-content;
}

.switch {
  /* variables */
  --_offset: 4px;
  --_width: 1.5rem;
  --_height: 1rem;

  /* position */
  position: relative;

  /* sizing */
  box-sizing: content-box;
  display: inline-block;
  width: calc(var(--_width) * 2);
  height: var(--_height);
  padding: var(--_offset);

  /* styling */
  background-color: var(--secondary);
  border-radius: 100vmax;
  cursor: pointer;
  transition: background-color 0.4s;
}

.switch.checked {
  background-color: var(--accent);
}

.slider {
  /* position */
  position: absolute;
  top: var(--_offset);
  left: var(--_offset);
  bottom: var(--_offset);

  /* sizing */
  width: var(--_width);

  /* styling */
  background-color: var(--text);
  border-radius: 100vmax;
  transition: 0.4s;
}

.switch.checked .slider {
  translate: calc(var(--_width)) 0;
}

.label {
  /* font */
  font-size: 1rem;
  font-weight: 500;

  /* interaction */
  user-select: none;
  cursor: pointer;
}

.input {
  display: none;
}

.input:autofill {
  color-scheme: dark;
  filter: none;
}

@media (prefers-color-scheme: light) {
  .input:autofill {
    color-scheme: light;
  }
}

.inputContainer .visibility:hover,
.inputContainer .visibility:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
