.inputContainer {
  /* position */
  position: relative;

  /* flex */
  display: flex;
  flex-direction: column;

  /* sizing */
  width: 100%;
  padding: 0.125rem;

  /* styling */
  border-radius: var(--input-border-radius, 0.5rem);
  background: var(--primary);
}

.label {
  /* sizing */
  width: 100%;
  padding: 0.125rem 1rem;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* text */
  font-size: 0.65rem;
  font-weight: 700;
  line-height: 1;

  /* styling */
  border: none;
  color: var(--text);
}

.passwordLabel {
  /* position */
  position: absolute;
  top: 0.125rem;
  right: 1rem;
}

.label {
  opacity: 1;
  transition: opacity 150ms ease-in-out;

  color: inherit;
}

.label.hidden {
  opacity: 0;
  pointer-events: none;
}

.input {
  /* sizing */
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem 1rem;

  /* text */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-wrap: nowrap;

  /* styling */
  background: var(--background);
  color: var(--text);
  border: none;
  outline: none;

  border-radius: calc(var(--input-border-radius, 0.5rem) - 0.125rem);
}

.dropdown {
  /* position */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  /* sizing */
  width: 100%;
  padding: 0.25rem;

  /* layout */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  /* styling */
  overflow-y: auto;
  background: var(--secondary);
  border-radius: calc(var(--input-border-radius, 0.75rem) - 0.25rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  box-shadow: 
    /* darkens whole screen */
    0 0 0 9999px rgba(0, 0, 0, 0.5),
    /* main shadow */ 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown.inverted {
  top: auto;
  bottom: 0;
}

.dropdown.closed {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-0.5rem);
}


.pillInputContainer {
  /* position */
  position: relative;

  /* flex */
  display: flex;
  flex-direction: column;

  /* sizing */
  width: fit-content;
  padding: 0.125rem;

  /* styling */
  border-radius: var(--input-pill-border-radius, 100vmax);
  background: var(--primary);
}

.pillInputContainer .input {
  /* sizing */
  width: fit-content;
  height: fit-content;
  padding: 0.35rem var(--input-pill-padding-horizontal, 1rem);

  /* styling */
  border-radius: calc(var(--input-pill-border-radius, 100vmax) - 0.125rem);
}