.inputGroup {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  /* sizing */
  padding: 0.25rem;
  flex-grow: 1;

  /* styling */
  border-radius: var(--input-border-radius, 0.5rem);
  border: 0.125rem solid var(--primary);

  & > .inputGroup {
    border: none;
    background-color: var(--secondary);
    flex-basis: auto;
  }
}

.inputGroup > * {
  flex-basis: var(--_flex-basis, auto);
  flex-grow: 1;
}

.inputGroup:global(.direction-row) {
  flex-direction: row;
  flex-wrap: wrap;
}

.inputGroup:global(.direction-column) {
  flex-direction: column;
}

.inputGroup.fullWidth {
  width: 100%;
}