
/*** Duration Input ***/
.durationInput {
  /* position */
  position: relative;

  /* flex */
  display: flex;
  flex-direction: column;

  /* sizing */
  width: fit-content;
  flex-grow: 1;
  padding: 0.125rem;

  /* styling */
  border-radius: var(--input-border-radius, 0.75rem);
  background: var(--primary);
}

.durationInput > label {
  /* sizing */
  width: 100%;
  padding: 0.125rem 1rem;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* text */
  font-size: 0.65rem;
  font-weight: 700;
  line-height: 1;

  /* styling */
  border: none;
  color: var(--text);
}

.durationInput .duration {
  /* sizing */
  width: 100%;
  height: 100%;
  min-height: fit-content;
  padding: 0.5rem 1rem;

  /* grid */
  display: grid;
  grid-template-columns: 1fr 100px;
  place-items: center;
  gap: 0.25rem;

  /* styling */
  border-radius: calc(var(--input-border-radius, 0.75rem) - 0.25rem);
  background: var(--background);
}

.durationInput .duration input[type="range"] {
  /* sizing */
  width: 100%;
  padding: 0.25rem 0.5rem;

  /* styling */
  border-radius: 0.25rem;
  background: transparent;
  border: 0.125rem solid transparent;
  color: var(--text);
  transition: border-color 0.2s ease-in-out;
}

.durationInput .duration .value {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;

  /* text */
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;

  /* styling */
  color: var(--text);
}

.durationInput .duration .value span {
  display: inline-block;
}