.carouselContainer {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0;
}

@media print {
  .carouselContainer {
    display: none;
  }
}

.header {
  .title {
    /* flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem;

    .titleLink {
      /* sizing */
      padding: 0.35rem 1rem;

      /* text */
      font-size: 0.75rem;
      font-weight: 700;
      line-height: 1;
      color: var(--text);
      text-decoration: none;
      text-wrap: avoid;

      /* styling */
      border: 2px solid var(--primary);
      border-radius: 100rem;

      &:hover,
      &:focus-visible {
        border-color: currentColor;
      }
    }

    .createButton {
      text-wrap: nowrap;
    }
  }

  /* sizing */
  margin-left: -1rem;
  width: calc(100% + 2rem);
  padding-block: 0.5rem;
  padding-inline: 1rem;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  &:global(.view-list),
  &:global(.view-grid) {
  /* position */
  position: sticky;
  top: 0;
  z-index: 997;

  /* sizing */
  margin-bottom: 0.25rem;

  /* styling */
  background: var(--background);
  border-bottom: 1px solid var(--primary);
  }

  & .title {
    margin-right: auto;

    @media (max-width: 800px) {
    margin-inline: 0;
      
    }
  }

  & h3 {
    /* spacing */
    margin: 0;

    /* text */
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
  }

  & .controls {
    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.5rem;

    & .group {
      /* flex */
      display: flex;
      flex-direction: row;
      justify-content: end;
      gap: 0.5rem;

      &#childView {
        outline: 2px solid var(--primary);
        padding: 0.0625rem 0.5rem;
        border-radius: 0.5rem;
      }
    }

    & .button {
      /* sizing */
      --_size: 1.5rem;
      width: var(--_size);
      height: var(--_size);

      /* flex */
      display: flex;
      justify-content: center;
      align-items: center;

      /* styling */
      border: none;
      background: transparent;
      color: var(--text);
      border-radius: 50%;

      &:disabled {
        color: var(--secondary);
      }

      &:hover {
        outline: 2px solid currentColor;
        outline-offset: 1px;
      }

      &#toTop,
      &#toBottom {
        rotate: 90deg;
      }
    }
  }
}

.carousel:global(.view-column) {
  /* spacing */
  padding: 0;
  margin: 0;

  width: 100%;

  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: visible;
  gap: 1rem;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;

  > * {
    max-width: 350px;
    width: 100%;
  }

  /* > :last-child {
    margin-right: 4rem;
  } */
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel:global(.view-grid) {
  /* grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
  gap: 1rem;
}

.carousel:global(.view-list) {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0;
}

.carousel:global(.view-list):has(a:hover) a:not(:hover):not(:focus-visible) {
  color: var(--secondary);
}