.listItem {
  list-style: none;
}

.listItem a {
  /* sizing */
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;

  /* styling */
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
}

.listItem a:hover,
.listItem a:focus-visible {
  border-color: currentColor;
}

.listItem a .info {
  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
}

.listItem a .info span.title {
  /* text */
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

.listItem a .info .subTitle {
  /* flex */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.75rem;

  /* text */
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
}

.listItem a .extraInfo .date {
  /* flex */
  display: flex;
  width: fit-content;

  /* text */
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  text-align: right;
}

.listItem a .shortDate {
  display: none;

  /* text */
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  text-align: right;

  /* padding: 0.12rem 0.25rem;
  background-color: var(--accent);
  border-radius: 0.25rem;5 */
}

@media (max-width: 1300px) {
  .listItem a .info {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
}


@media (max-width: 700px) {
  .listItem a .shortDate {
    display: flex;
  }

  .listItem a .extraInfo {
    display: none;
  }
}
