.main {
  grid-area: main;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* @media (max-width: 625px) {
  .main {
    width: calc(100% + (32px + 2rem));
    translate
  }
} */

/* .main > section {
  max-width: var(--content-max-width);
  margin-inline: auto;
} */
