.markdown {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.markdown a {
  color: var(--accent);
  text-decoration: underline dashed;
}

.markdown a:hover,
.markdown a:focus-visible {
  text-decoration: underline solid;
}

.markdown blockquote {
  /* position */
  position: relative;

  /* sizing */
  margin: 0;
  padding: 1rem 2rem;
}

.markdown blockquote::before {
  /* content */
  content: "";

  /* position */
  position: absolute;
  inset: 0;
  right: auto;

  /* sizing */
  width: 0.25rem;

  /* styling */
  background-color: currentColor;
  border-radius: 100vmax;
}

.markdown :global(.contains-task-list) {
  /* sizing */
  padding-left: 1rem;
}

.markdown :global(.task-list-item) {
  /* styling */
  list-style: none;
}

.markdown h1:first-child {
  margin-top: 0;
}

.markdown h1 {
  font-size: 4.21rem;
  margin-top: 0.5em;
  margin-bottom: -0.5rem;
}

.markdown h2 {
  font-size: 3.158rem;
  margin-top: 0.5em;
  margin-bottom: -0.5rem;
}

.markdown h3 {
  font-size: 2.369rem;
  margin-top: 0.5em;
  margin-bottom: -0.5rem;
}

.markdown h4 {
  font-size: 1.777rem;
  margin-top: 0.5em;
  margin-bottom: -0.5rem;
}

.markdown h5 {
  font-size: 1.333rem;
  margin-top: 0.5em;
  margin-bottom: -0.5rem;
}

.markdown h6 {
  font-size: 0.75rem;
  margin-top: 0.5em;
  margin-bottom: -0.5rem;
}

.markdown img {
  max-width: 100%;
  max-height: 75dvh;
  border-radius: 1rem;
  overflow: clip;
}

.markdown table {
  /* sizing */
  max-width: 100%;
  margin-block: 1rem;
  border-spacing: 0; 
  border-radius: var(--_radius);
}

.markdown th,
.markdown td {
  padding: 0.25rem 0.75rem;
  text-align: left;
}

.markdown thead tr :first-child {
  border-top-left-radius: var(--_radius);
}

.markdown thead tr :last-child {
  border-top-right-radius: var(--_radius);
}

.markdown tbody :last-child :first-child {
  border-bottom-left-radius: var(--_radius);
}

.markdown tbody :last-child :last-child {
  border-bottom-right-radius: var(--_radius);
}

.markdown table,
.markdown th,
.markdown td,
.markdown tr {
  --_radius: 0.5rem;
  border: 1px solid currentColor;
}