.project {
  /* position */
  position: relative;

  /* sizing */
  padding: 1rem;
  flex-shrink: 0;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  /* styling */
  border-radius: 1rem;
  border: 0.25rem solid transparent;
  text-decoration: none;
  color: inherit;
}

.project:hover,
.project:focus-visible {
  /* border-color: var(--background-300); */
}

.project .thumbnail {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;
  aspect-ratio: 16/9;

  /* flex */
  display: flex;

  /* styling */
  border-radius: 0.5rem;
  overflow: clip;
}

.project .thumbnail > img {
  width: 100%;
  object-fit: cover;
}

.project .thumbnail > span.collection {
  /* position */
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  /* styling */
  padding: 0.25rem 0.5rem;
  background-color: var(--background);
  border-radius: 0.25rem;

  /* text */
  font-size: 0.65rem;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
}

.project .details {
  /* sizing */
  padding-inline: 0.5rem;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.project h3 {
  margin: 0;

  /* text */
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.project h4 {
  margin: 0;

  /* text */
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1;
}

.project .background {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* styling */
  border-radius: 1rem;
  background-color: var(--background-100);
  scale: 0.85;
  translate: 3rem 1rem;
  transition: scale 300ms ease, translate 300ms ease;
}

.project:hover .background,
.project:focus-visible .background {
  scale: 1;
  translate: 0 0;
}
