.content {
  /* sizing */
  width: 100%;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content h3 {
  /* text */
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text);
}

.content p {
  /* text */
  margin: 0;
  font-size: 0.9rem;
  color: var(--text);
}

.qrCode {
  /* sizing */
  margin-inline: auto;
  width: 200px;
  height: 200px;
  max-width: 100%;
  max-height: 100%;

  /* styling */
  background: var(--text-inverse);
  padding: 1rem;
  border-radius: 8px;
}

.content .link {
  /* sizing */
  display: block;
  width: 100%;
  overflow-wrap: anywhere;

  /* text */
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--text-600);
  text-align: center;
}