.sidebar {
  /* position */
  position: sticky;
  top: var(--sidebar-sticky-top, 1rem);

  /* sizing */
  height: fit-content;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: var(--item-sidebar-gap, 1rem);
}

@media (max-width: 900px) {
  .sidebar {
    /* position */
    position: static;
  }
}