.author {
  /* position */
  position: relative;

  /* sizing */
  margin-inline: 0.5rem;
  padding: 0.5rem;

  /* grid */
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 1rem;
  place-items: center left;

  /* text */
  text-decoration: none;
  color: var(--text);
  border-radius: 0.5rem;
  overflow: hidden;
}

.author:hover,
.author:focus-visible {
  /* text */
  outline: 2px solid var(--text);
  outline-offset: -2px;
}

.author .background {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* sizing */
  width: 100%;
  height: 100%;

  /* styling */
  object-fit: cover;
  background-color: var(--background-100);
}

.author .image {
  /* display */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
}

.author .profile {
  /* sizing */
  width: 100%;
  aspect-ratio: 1/1;

  /* styling */
  border-radius: 0.25rem;
  grid-area: 1 / 1;
}

.author .placeholder {
  /* position */
  z-index: -1;

  /* styling */
  background: var(--background);
}

.author .text {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.35rem;

  /* text */
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
}

.author .title {
  /* text */
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
}

.author .subTitle {
  /* text */
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
}