.author {
  /* position */
  position: relative;

  /* sizing */
  padding: 0.5rem;
  flex-shrink: 0;

  /* grid */
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 1rem;
  place-items: center left;

  /* text */
  text-decoration: none;
  color: var(--text);
  border-radius: var(--item-sidebar-border-radius, 0.5rem);
  overflow: hidden;
}

a.author:hover,
a.author:focus-visible {
  /* text */
  outline: 2px solid var(--text);
  outline-offset: -2px;
}

.author .background {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* sizing */
  width: 100%;
  height: 100%;

  /* styling */
  object-fit: cover;
  background-color: var(--background-100);
}

.author .image {
  /* display */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
}

.author .profile {
  /* sizing */
  width: 100%;
  aspect-ratio: 1/1;

  /* styling */
  border-radius: calc(var(--item-sidebar-border-radius, 0.5rem) - 0.25rem);
  grid-area: 1 / 1;
}

.author .profile.away {
  outline: 0.125rem solid var(--form-color-invalid);
  outline-offset: 0.125rem;
}

.author .profile.online {
  outline-color: var(--form-color-valid);
  outline-offset: 0.125rem;
}

.author .profile.away {
  outline-color: var(--form-color-invalid-hold);
  outline-offset: 0.125rem;
}

.author .placeholder {
  /* position */
  z-index: -1;

  /* styling */
  background: var(--background);
}

.author .text {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.35rem;

  /* text */
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
}

.author .title {

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  /* text */
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1;
}

.author .role {
  /* sizing */
  display: inline-block;
  padding: 0.125rem 0.5rem;
  width: fit-content;

  /* text */
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;

  /* styling */
  color: var(--text);
  background-color: var(--accent);
  border-radius: 0.25rem;
}

.author .subTitle {
  /* text */
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
}
