*,
*::after,
*::before {
  /* sizing */
  box-sizing: border-box;

  /* font */
  font-family: "Montserrat", sans-serif;
}

:root {
  width: 100vw;
  overflow-x: clip;
}

body {
  /* sizing */
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: clip;

  /* background */
  background-color: var(--background);
  color: var(--text);

  /* transition */
  transition: var(--transition-background_color-600),
    var(--transition-color-600);
}

@media print {
  body {
    background-color: white;
    color: black;
  }
}

body.oled {
  background-color: black;
  color: white;
}

body.noscroll {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

#root {
  /* sizing */
  min-height: 100vh;
  width: 100%;

  /* flex */
  /* display: flex;
  flex-direction: column;
  gap: 1rem; */

  --header-width: 250px;

  /* grid */
  display: grid;
  grid-template-columns: [nav-start] var(--header-width) [nav-end main-start footer-start] 1fr [main-end footer-end];
  grid-template-rows: [nav-start main-start] auto [main-end footer-start] auto [nav-end footer-end];
  gap: 1rem;
  column-gap: 0;
}

#root > main {
  /* fix for carousel and still allowing body based sticky positioning */
  --_margin-inline: 1rem;
  max-width: calc(100vw - (2 * var(--_margin-inline)) - var(--header-width));
  min-height: 85vh;
  margin-inline: var(--_margin-inline);
  margin-top: 1rem;
  /* overflow: hidden; */

  transition: all 250ms ease;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined.active {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* z-index: 1; */
}

@media (max-width: 625px) {
  #root {
    --header-width: calc(32px + 2rem);
    transition: var(--header-transition);
  }

  #root > main {
    /* prevents issues from occurring with the carousel and sticky based elements */
    max-width: calc(100vw - (32px + 2rem) - (2 * var(--_margin-inline)));
  }

  body.scrolled #root {
    --header-width: 0px;
    /* grid-template-columns: [nav-start] 0 [nav-end main-start footer-start] 1fr [main-end footer-end]; */
  }

  body.scrolled #root > main {
    /* prevents issues from occurring with the carousel and sticky based elements */
    max-width: calc(100vw - (2 * var(--_margin-inline)));
  }

  #root > main {
    --_margin-inline: 0.5rem;
    /* overflow: hidden; */
  }
}
