html {
  --content-max-width: calc(100% - (2 * min(3rem, max(4vw, 1rem))));
}

html {
  --selector: #0061e0;

  /** form colors **/
  --form-color-selector: hsl(214, 100%, 44%);
  --form-color-invalid: hsl(0, 100%, 50%);
  --form-color-invalid-hold: hsl(39, 100%, 50%);
  --form-color-valid-hold: hsl(120, 100%, 38%);
  --form-color-valid: hsl(120, 100%, 25%);

  --form-color-selector-opac: hsl(214, 100%, 44%, 0.25);
  --form-color-invalid-opac: hsl(0, 100%, 50%, 0.25);
  --form-color-invalid-hold-opac: hsl(39, 100%, 50%, 0.25);
  --form-color-valid-hold-opac: hsl(120, 100%, 38%, 0.25);
  --form-color-valid-opac: hsl(120, 100%, 25%, 0.25);
}

html,
html[data-theme="light"],
.preview {
  --text: #000000;
  --text-alt: #333333;
  --background: #f2f2f2;
  --primary: #d3d3d3;
  --secondary: #c3c3c3;
  --accent: #0061e0;
  --text-inverse: #ffffff;
}

@media (prefers-color-scheme: dark) {
  html[data-theme="dark"],
  html[data-theme="system"],
  .preview[data-theme="dark"],
  .preview[data-theme="system"] {
    --text: #ffffff;
    --text-alt: #cccccc;
    --background: #0d0d0d;
    --primary: #2a2a2a;
    --secondary: #484848;
    --accent: #0061e0;
    --text-inverse: #000000;
  }
}