.preview {
  max-width: 50rem;
}

.links,
.bookmarks {
  /* sizing */
  margin: 0;
  padding: 0;

  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;

  /* styling */
  list-style: none;
}
