.slideshow {
  /* position */
  position: relative;

  /* sizing */
  margin: 0;
  padding: 0;

  /* variables */
  --_transition-speed: 1s;
}

.slideshow .container {
  /* sizing */
  width: 100%;
  height: 100%;

  /* flex */
  gap: 0.75rem;
}

.slideshow button {
  /* position */
  position: absolute;
  z-index: 1;
  inset: 1rem;

  /* sizing */
  width: 2rem;
  min-height: calc(250px - 2rem);
  height: calc(35vmin - 2rem);

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* styling */
  border-radius: 0.5rem;
  border: white solid 0.125rem;
  background: transparent;

  color: white;

}

.slideshow button:hover {
  /* styling */
  background-color: white;
  color: black;
}

.slideshow button:disabled {
  /* styling */
  color: black;
  border-color: black;
}

.slideshow button:disabled:hover {
  /* styling */
  background-color: transparent;
}

.slideshow button.left {
  right: auto;
}

.slideshow button.right {
  left: auto;
}

.slideshow .heros {
  /* sizing */
  width: 100%;
  min-height: 250px;
  height: 35vmin;
  
  /* flex */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  /* transition */
  transition: transform var(--_transition-speed) ease-in-out;
}

.slideshow .heros .hero {
  /* position */
  grid-area: slide;
  position: relative;

  /* sizing */
  width: 100%;
  height: 100%;
  padding: 2rem;
  flex-shrink: 0;

  /* styling */
  border-radius: 0.5rem;
  overflow: clip;
}

.slideshow .dots {
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.slideshow .dots .dot {
  /* sizing */
  width: 0.5rem;
  height: 0.5rem;

  /* styling */
  background-color: var(--text-200);
  border-radius: 100vmax;
  cursor: pointer;

  /* transition */
  transition: width var(--_transition-speed) ease-in-out,
    background-color var(--_transition-speed) ease-in-out;
}

.slideshow .dots .dot.active {
  /* sizing */
  width: 2rem;

  /* styling */
  background-color: var(--text);
}