.slideshow {
  /* position */
  position: relative;

  /* sizing */
  margin: 0;
  padding: 0;

  /* variables */
  --_transition-speed: 1s;
  --_dot-size: 0.5rem;
  --_dot-offset: 0.75rem;
}

.slideshow .container {
  /* sizing */
  width: 100%;
  height: 100%;

  /* flex */
  gap: var(--_dot-offset);
}

.slideshow .buttons {
  /* position */
  position: absolute;
  z-index: 1;
  --_spacing: var(--_dot-size) + var(--_dot-offset);
  bottom: calc(1rem + var(--_spacing));
  right: 1rem;

  /* flex */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.slideshow button {
  /* sizing */
  width: 2rem;
  height: 2rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* styling */
  border-radius: var(--hero-button-border-radius, 0.5rem);
  border: white solid 0.125rem;
  background: transparent;
  backdrop-filter: brightness(0.75) blur(1px);

  color: white;
}

.slideshow button:hover {
  /* styling */
  background-color: white;
  color: black;
}

.slideshow button:disabled {
  /* styling */
  color: black;
  border-color: black;
}

.slideshow button:disabled:hover {
  /* styling */
  background-color: transparent;
}

.slideshow .heros {
  /* sizing */
  width: 100%;
  min-height: 250px;
  height: 35vmin;

  /* flex */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  /* transition */
  transition: transform var(--_transition-speed) ease-in-out;
}

.slideshow .heros .hero {
  /* position */
  grid-area: slide;
  position: relative;

  /* sizing */
  width: 100%;
  height: 100%;
  padding: 2rem;
  flex-shrink: 0;

  /* styling */
  border-radius: var(--hero-border-radius, 0.5rem);
  overflow: clip;
}

.slideshow .dots {
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.slideshow .dots .dot {
  /* variables */
  --_offset: 5%;

  /* sizing */
  width: var(--_dot-size);
  height: var(--_dot-size);

  /* styling */
  background: linear-gradient(
    to left,
    var(--primary) 0%,
    var(--primary) calc(50% - var(--_offset)),
    var(--text) calc(50% + var(--_offset)),
    var(--text) 100%
  );
  background-size: 250% 100%;
  background-position: 100% 0;
  border-radius: var(--hero-dot-border-radius, 100vmax);
  cursor: pointer;

  /* transition */
  transition: width var(--_transition-speed) ease-in-out,
    background-position var(--_transition-speed) ease-in-out;
}

.slideshow .dots .dot.active {
  /* sizing */
  width: 2rem;
  background-position: 0 0;
}

.slideshow .dots .dot.active.timed {
  background-position: 0 0;
  transition: width var(--_transition-speed) ease-in-out,
    background-position 10s linear;
}

.slideshow .dots .dot.active.userInteracted {
  background-position: 100% 0;
}

@keyframes slideshowDotActiveTimedAnimation {
  0%, 10% {
    background-position: 100% 0;
  }
  90%, 100% {
    background-position: 0 0;
  }
}
