.main {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header {
  /* sizing */
  width: 100%;
  height: 200px;

  /* image */
  object-fit: cover;
  

  /* styling */
  border-radius: 0.5rem;
  overflow: clip;
}