.sidebar {
  /* position */
  position: sticky;
  top: 1rem;
  
  /* sizing */
  width: 100%;
  height: fit-content;

  /* flex */  
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 900px) {
  .sidebar {
    /* position */
    position: static;
  }
}

.user {
  /* position */
  position: relative;
  z-index: 1;

  /* sizing */
  width: 100%;
  height: 200px;
  padding: 1rem;

  /* flex */
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;

  /* styling */
  border-radius: 0.5rem;
  overflow: clip;
}

.user > .background {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* sizing */
  width: 100%;
  height: 100%;

  /* image */
  object-fit: cover;
}

.user > .profile {
  /* sizing */
  --_size: 4rem;
  width: var(--_size);
  height: var(--_size);

  /* styling */
  border-radius: 0.25rem;
}

.user > .details {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user > .details span.displayName {
  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;

  /* text */
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}

.user > .details span.displayName .role {
  /* sizing */
  display: inline-block;
  padding: 0.125rem 0.5rem;

  /* text */
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;

  /* styling */
  color: var(--text);
  background-color: var(--accent);
  border-radius: 0.25rem;
}

.user > .details span.userName {
  /* text */
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
}

.information {
  /* sizing */
  padding: 0.75rem 0.5rem;

  /* grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0.25rem;

  /* styling */
  background-color: var(--primary);
  border-radius: 0.5rem;
}

.information > .info {
  /* position */
  position: relative;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  /* styling */
  border-right: 1px solid var(--text-alt);
}

.information > .info:last-child {
  border: none;
}

.information > span {
  /* text */
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1;
  color: var(--text-800);
  text-align: center;
}

.information > .info span {
  /* text */
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;
}

div.date {
  /* sizing */
  padding: 1rem;

  /* grid */
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /* styling */
  background-color: var(--primary);
  border-radius: 0.5rem;
}

div.date .left {
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

div.date .right {
  /* flex */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;
}

div.date span {
  /* text */
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1;
  color: var(--text-800);
}

div.date span.date {
  /* text */
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  text-transform: capitalize;
  color: inherit;
}

.links {
  /* spacing */
  margin: 0;
  padding: 0;

  /* flex */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
}

.links .linkButton {
  text-transform: lowercase;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  gap: 0.5rem;
}

.links .innerCorner {
  /* sizing */
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  background-color: var(--primary);
}

.links > :nth-child(1) {
  border-top-left-radius: 0.5rem;
}

.links > :nth-child(2) {
  border-top-right-radius: 0.5rem;
}

.links > :nth-last-of-type(-n+2) {
  border-bottom-left-radius: 0.5rem;
}

.links > :nth-last-of-type(-n+1) {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.5rem;
}

.links a .linkIcon {
  /* position */
  position: relative;

  /* sizing */
  padding: 0.25rem;
  width: var(--_icon-size);
  height: var(--_icon-size);

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a .linkIcon .background {
  /* position */
  position: absolute;
  inset: -0.25rem;
  z-index: 0;

  /* styling */
  border-radius: 0.25rem;
  background-color: white;
}

.links a .linkIcon img {
  width: var(--_icon-size);
  height: var(--_icon-size);
  z-index: 1;
}