.title {
  /* spacing */
  margin: 0;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  /* text */
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}

.title span {
  display: block;
  margin-left: 2.5rem;
  font-size: 1.25rem;
}

.title span.fancy {
  margin: 0;
  margin-top: -2.25rem;

  /* text */
  font-family: "Kapakana", cursive;
  font-size: 5rem;
  font-weight: 1200;

  /* styling */
  color: var(--text);
}

.description {
  /* spacing */
  margin: 0;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0;

  /* text */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  color: var(--text-secondary);
}

.description .special {
  font-weight: 600;
  font-style: italic;
}

.link {
  /* text */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: underline dashed;
  color: inherit;
}

.link:hover,
.link:focus-visible {
  text-decoration: underline solid;
}

.inputContainer .link {
  margin-left: auto;
}

.submit {
  /* sizing */
  padding: 0.5rem 5rem;

  /* text */
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;

  /* styling */
  border: none;
  background-color: var(--selector);
  color: white;
  border-radius: 0.5rem;
}

.divider {
  /* position */
  position: relative;

  /* sizing */
  width: 50%;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider::before {
  /* content */
  content: "";

  /* position */
  position: absolute;
  inset: 0;
  top: 50%;
  translate: 0 -50%;

  /* sizing */
  width: 100%;
  height: 0.125rem;

  /* styling */

  --_gap-start: 40%;
  --_gap-end: 60%;
  --_background-color: var(--text);
  background: var(--_background-color);
  background: linear-gradient(
    90deg,
    var(--_background-color) 0%,
    var(--_background-color) var(--_gap-start),
    rgba(0, 0, 0, 0) var(--_gap-start),
    rgba(0, 0, 0, 0) var(--_gap-end),
    var(--_background-color) var(--_gap-end),
    var(--_background-color) 100%
  );
}

.divider > span {
  /* position */
  z-index: 1;

  /* spacing */
  padding: 0 1rem;

  /* text */
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
}

.socials {
  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.socials > .social {
  /* sizing */
  --_size: 2.5rem;
  width: calc(var(--_size) * 2);
  height: var(--_size);
  padding: 0.5rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* styling */
  border: none;
  background-color: var(--background-200);
  color: var(--text);
  border-radius: 0.5rem;
}

svg.socialIcon {
  /* sizing */
  --_size: 1.25rem;
  width: var(--_size);
  height: var(--_size);
  margin-inline: 2rem;

  /* styling */
  fill: currentColor;
}

.socials > .social:hover,
.socials > .social:focus-visible {
  background-color: var(--background-400);
}
