.main {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pageTitle {
  /* margin */
  margin: 0;
  
  /* text */
  font-size: 1.5rem;
  font-weight: 700;
}

.customThemeButton {
  /* position */
  position: relative;
  height: calc(32px + 0.5rem);
}

.customThemeButton .deleteButton {
  /* position */
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

  grid-template-columns: 1fr;
  border-radius: calc(var(--button-border-radius, 0.5rem) / 2);
}

.sidebarNav {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sidebarNav ul {
  /* reset */
  list-style: none;
  margin: 0;
  padding: 0;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: var(--settings-nav-sub-gap, 0.25rem);

  /* text */
  line-height: 1;
  font-weight: 700;
}

.themeList {
  /* reset */
  list-style: none;
  margin: 0;
  padding: 0;

  /* grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
}