.preview,
.previewSmall {
  border: none;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--overlay-border-radius, 1rem);
  overflow: clip;
}

.previewSmall {
  display: none;
}

@media (max-width: 768px) {
  .preview {
    display: none;
  }

  .previewSmall {
    display: block;
  }
  
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.extraButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}