.preview {
  border: none;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  overflow: clip;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.extraButtons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}