.newTab {
  /* position */
  position: relative;

  /* sizing */
  height: 100%;

  /* styling */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newTab .container {
  /* position */
  width: 100%;
  height: 100%;
}

.newTab .container > .background {
  /* position */
  position: absolute;
  inset: calc(-1 * var(--_margin-inline));
  z-index: -2;

  /* flex */
  display: flex;
}

.newTab .container > .background img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.newTab .user {
  /* position */
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;

  /* sizing */
  max-width: 20rem;
}

.newTab .editButtonWrapper {
  /* position */
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 1;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}

.newTab .editButtonWrapper .edit {
  /* sizing */
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;

  /* flex */
  display: grid;
  grid-template-columns: 1rem 6rem;
  align-items: center;
  gap: 0.25rem;

  /* styling */
  border-radius: 1rem;
  background-color: var(--primary);
  color: var(--text);
  cursor: pointer;
  border: none;
  overflow: hidden;

  /* transition */
  transition: width 150ms ease-in-out, background-color 150ms ease-in-out,
    border-radius 150ms ease-in-out;
}

.newTab .editButtonWrapper .edit .icon {
  --_size: 1rem;
  /* sizing */
  width: var(--_size);
  height: var(--_size);
  font-size: var(--_size);
}

.newTab .editButtonWrapper .edit:hover {
  width: 8.5rem;
  background-color: var(--secondary);
  border-radius: 0.5rem;
}

.newTab .editButtonWrapper .editShortcut {
  /* transition */
  transition: opacity 150ms ease-in-out;

  /* styling */
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 700;
  color: var(--_color-page);
  opacity: 0;

  /* transition */
  transition: opacity 150ms ease-in-out;

}

.newTab .editButtonWrapper .editShortcut.modifier {
  opacity: 1;
}

.newTab .editButtonWrapper:has(.edit:hover) .editShortcut {
  opacity: 0;
}

.newTab .links {
  /* sizing */
  width: 100%;
  height: 100%;
  padding: max(2vw, 1rem);
  padding-bottom: 6rem;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.newTab .links .logo {
  /* sizing */
  height: 3rem;
}

.newTab .links ul {
  /* sizing */
  padding: 0;
  margin: 0;
  width: 100%;
  height: fit-content;

  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  row-gap: 1.5rem;

  /* styling */
  list-style: none;
}

.newTab .links div.search {
  /* sizing */
  height: 3rem;
  width: 100%;

  /* flex */
  display: flex;
  justify-content: center;
}

li.linkItem {
  /* position */
  position: relative;

  /* sizing */
  width: 10rem;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

li.linkItem.wide {
  width: calc(20rem + 1rem);
}

li.linkItem .editShortcut {
  /* position */
  position: absolute;
  top: -2ch;
  left: 0;

  /* text */
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 700;

  /* styling */
  color: var(--_color-page);
  opacity: 0;

  /* transition */
  transition: opacity 150ms ease-in-out;

}

li.linkItem .editShortcut.modifier {
  opacity: 1;
}


li.linkItem a {
  /* position */
  position: relative;

  /* sizing */
  height: 10rem;
  width: 100%;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  /* text */
  color: var(--_color);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;

  /* styling */
  border-radius: 0.5rem;
  overflow: hidden;
}

li.linkItem a:hover {
  outline: 2px solid currentColor;
  outline-offset: -2px;
}

li.linkItem a:hover .background {
  filter: brightness(0.85);
}

li.linkItem a:focus-visible {
  /* outline */
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

li.linkItem a .iconWrapper {
  /* sizing */
  padding-inline: 1rem;
  aspect-ratio: 1/0.47971055900621;

}

li.linkItem a .iconWrapper img {
  /* sizing */
  width: 100%;
  height: 100%;

  /* object fit */
  object-fit: contain;
}

li.linkItem a span.title {
  /* text */
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;

  /* styling */
  color: inherit;
}

li.linkItem span.url {
  /* sizing */
  width: 100%;

  /* sizing */
  overflow: hidden;
  text-overflow: ellipsis;

  /* text */
  font-size: 0.7rem;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  text-transform: lowercase;
  text-overflow: ellipsis;
  overflow: hidden;

  /* styling */
  color: var(--_color-page);
}

li.linkItem a .background {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;
}

li.linkItem a .background img {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* sizing */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li.linkItem a .background > div {
  position: absolute;
  inset: 0;
  z-index: -1;
}

li.linkItem a .iconWrapper {
  height: 56px;
  width: 100%;
}

li.linkItem a .iconWrapper .iconImage {
  /* sizing */
  width: 100%;
  height: 100%;

  /* object-fit */
  object-fit: contain;
}
