.sidebar {
  /* position */
  position: sticky;
  top: 1rem;
  
  /* sizing */
  width: 100%;
  height: fit-content;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 900px) {
  .sidebar {
    /* position */
    position: static;
  }
}

.image {
  /* sizing */
  width: 100%;

  /* display */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
}

.thumbnail {
  /* position */
  z-index: 1;

  /* sizing */
  grid-area: 1 / 1;
  width: 100%;
  aspect-ratio: 16/9;

  /* styling */
  border-radius: 0.5rem;
  object-fit: cover;
}

.image .placeholder {
  /* position */
  z-index: 0;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* styling */
  background-color: #d0d0d0;
}

.image .placeholder svg {
  /* sizing */
  width: 200px;
}

.details {
  /* sizing */
  padding-inline: 0.5rem;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.sidebar h2 {
  margin: 0;

  /* text */
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.sidebar h2 + span {
  margin: 0;

  /* text */
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1;
}

@media (prefers-color-scheme: light) {
  .sidebar h2 {
    color: var(--_color-light, inherit);
  }
}

@media (prefers-color-scheme: dark) {
  .sidebar h2 {
    color: var(--_color-dark, inherit);
  }
}

.dates {
  /* sizing */
  padding-inline: 0.5rem;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.dates .created {
  /* text */
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
}

.dates .modified {
  /* text */
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 500;
  color: var(--text-400);
}

.tags {
  /* sizing */
  padding-inline: 0.5rem;

  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tags > .tag,
.collection {
  /* styling */
  padding: 0.25rem 0.5rem;
  background-color: var(--background-200);
  border-radius: 0.25rem;

  /* text */
  font-size: 0.65rem;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;

  /* flex */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.tag > .icon,
.collection > .icon {
  font-size: 1.5em;
}

.author {
  /* sizing */
  margin-inline: 0.5rem;

  /* grid */
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 1rem;
  place-items: center left;
}

.author .image {
  /* display */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  place-items: center;
}

.author .profile {
  /* sizing */
  width: 100%;
  aspect-ratio: 1/1;

  /* styling */
  border-radius: 50%;
  grid-area: 1 / 1;
}

.author .placeholder {
  /* position */
  z-index: -1;

  /* styling */
  background: var(--background);
}

.author .title {
  /* text */
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}

.author .subTitle {
  /* text */
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;
}

.information {
  /* sizing */
  margin-inline: 0.5rem;
  padding: 0.5rem;

  /* grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* styling */
  background-color: var(--background-100);
  border-radius: 0.5rem;
}

.information > .info {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;

  /* styling */
  border-right: 1px solid var(--text-200);
}

.information > .info:last-child {
  border: none;
}

.information > .info span:first-child {
  /* text */
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 1;
  color: var(--text-800);
}

.information > .info span:last-child {
  /* text */
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: capitalize;
}

.ingredients {
  /* sizing */
  padding-inline: 0.5rem;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ingredients h3 {
  margin: 0;
}

.ingredients > ul {
  /* spacing */
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}

.quickLinks {
  /* sizing */
  padding-inline: 0.5rem;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quickLinks .title {
  /* text */
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 600;
}

.quickLinks .container {
  /* flex */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.quickLinks .container a {
  /* text */
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  color: inherit;
  text-decoration: underline solid;
}


.quickLinks .container a:hover,
.quickLinks .container a:focus-visible {
  text-decoration: underline dashed;
}

.links {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.links > a,
.links > button {
  height: 40px;
}

.links > a > .icon {
  /* position */
  position: absolute;
  inset: 0.5rem;
  left: auto;
  bottom: auto;

  /* sizing */
  font-size: 1em;
}

.links .gficon {
  /* position */
  position: absolute;
  inset: 0px;
  right: auto;

  /* sizing */
  padding: 0.5rem;
  height: 100%;

  /* sizing */
  font-size: 1.5rem;
}

/* .github {
  background: #21262d;
  color: #c9d1d9;
}

.steam {
  background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
  color: #fff;
} */
