.container {
  gap: 0.5rem;
}

.container a.titleLink {
  z-index: 1;
  color: inherit;
  text-decoration: underline dashed;
}

.container a.titleLink:hover,
.container a.titleLink:focus-visible {
  text-decoration: underline solid;
}

.container a.titleLink h2 {
  margin: 0;
}

.slider {
  /* grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
  gap: 1rem;

}

.viewMore {
  /* sizing */
  margin-inline: auto;
  width: fit-content;
}