.container {
  gap: 0.5rem;
}

.container a.titleLink {
  /* position */
  z-index: 1;

  /* sizing */
  width: fit-content;

  /* styling */
  color: inherit;
  text-decoration: underline dashed;
}

.container a.titleLink:hover,
.container a.titleLink:focus-visible {
  text-decoration: underline solid;
}

.container a.titleLink h2 {
  margin: 0;
}

.viewMore {
  /* sizing */
  margin-inline: auto;
  width: fit-content;
}