.sites {
  /* grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(282px, 100%), 1fr));
  gap: 1rem;
}

.sites > div,
.sites > div > div {
  /* sizing */
  width: 100%;
  height: 100%;
}

.site {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;
  height: fit-content;
  padding: 1rem;

  /* flex */
  display: flex;
  flex-direction: row;
  gap: 1rem;

  /* styling */
  border-radius: var(--sites-border-radius, 1rem);
  border: 1px solid var(--secondary);
  overflow: clip;
  color: var(--text);

  /* text */
  text-decoration: none;
}

.site:hover,
.site:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: -2px;
}

.site .icon {
  /* sizing */
  --_size: 30px;
  width: var(--_size);
  height: var(--_size);
  font-size: var(--_size);
}

.site .container {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.site .container h3 {
  /* spacing */
  margin: 0;

  /* text */
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.site .container span {
  /* text */
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
}
