.lgbtqPrideBanner {
  padding: 1rem;

  background: linear-gradient(
    to right,
    rgb(237, 34, 36) 0%,
    rgb(243, 91, 34),
    rgb(249, 150, 33),
    rgb(245, 193, 30),
    rgb(241, 235, 27) 27%,
    rgb(241, 235, 27),
    rgb(241, 235, 27) 33%,
    rgb(99, 199, 32),
    rgb(12, 155, 73),
    rgb(33, 135, 141),
    rgb(57, 84, 165),
    rgb(97, 55, 155),
    rgb(147, 40, 142)
  );

  color: black;
}
