.newTabEdit {
}

.newTabEdit .container {
}

.newTabEdit .container ul.links {
  /* sizing */
  margin: 0;
  padding: 0;

  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;

  /* styling */
  list-style: none;
}

.linkItem {
  width: 300px;
}

.linkItem .link {
  /* position */
  position: relative;

  /* sizing */
  padding: 0.25rem;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.linkItem .link .backdrop {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* sizing */
  width: 100%;
  height: 100%;

  /* styling */
  border-radius: var(--newTabLink-border-radius, 0.75rem);
  background-color: var(--secondary);
}

.linkItem .link .backgroundPreview {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* sizing */
  width: 100%;
  height: 100%;

  /* styling */
  border-radius: calc(var(--newTabLink-border-radius, 0.75rem) - 0.25rem);
  border-bottom-left-radius: var(--button-border-radius, 0.5rem);
  border-bottom-right-radius: var(--button-border-radius, 0.5rem);
  overflow: clip;
}

.linkItem .link .backgroundPreview > * {
  /* sizing */
  width: 100%;
  height: 100%;

  /* styling */
  object-fit: cover;
}

.linkItem .link .positionSelector {
  /* position */
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.linkItem .link .remove {
  /* position */
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.linkItem .link .iconWrapper {
  /* position */
  position: relative;

  /* sizing */
  --_size: 6rem;
  --_padding: 1rem;
  width: 100%;
  height: calc(var(--_size) + var(--_padding) * 2);
  padding: 1rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkItem .link .iconWrapper .iconImage {
  /* sizing */
  width: 100%;
  height: var(--_size);
  object-fit: contain;
}

.linkItem .link .title {
  width: 100%;
  height: fit-content;

  /* grid */
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.25rem;
}

.linkItem .link .background {
  /* sizing */
  width: 100%;

  /* grid */
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25rem;
}

.newTabEdit .container ul.links .picker {
  /* position */
  position: absolute !important;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newTabEdit .container ul.links:has(.picker) li {
  pointer-events: none;
}

.linkItem .link > *:last-child {
  border-bottom-left-radius: calc(var(--newTabLink-border-radius, 0.75rem) - 0.25rem);
  border-bottom-right-radius: calc(var(--newTabLink-border-radius, 0.75rem) - 0.25rem);
}
