.newTabEdit {
}

.newTabEdit .container {
}

.newTabEdit .container ul.links {
  /* sizing */
  margin: 0;
  padding: 0;

  /* flex */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;

  /* styling */
  list-style: none;
}

.newTabEdit .container ul.links li {
  width: 300px;
}

.newTabEdit .container ul.links li .link {
  /* position */
  position: relative;

  /* sizing */
  padding: 0.25rem;

  /* flex */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}


.newTabEdit .container ul.links li .link .backdrop {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* sizing */
  width: 100%;
  height: 100%;

  /* styling */
  border-radius: 0.75rem;
  background-color: var(--primary);
}

.newTabEdit .container ul.links li .link .backgroundPreview {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* sizing */
  width: 100%;
  height: 100%;

  /* styling */
  border-radius: 0.5rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  overflow: clip;
}

.newTabEdit .container ul.links li .link .backgroundPreview > * {
  /* sizing */
  width: 100%;
  height: 100%;

  /* styling */
  object-fit: cover;
}

.newTabEdit .container ul.links li .link .positionSelector {
  /* position */
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.newTabEdit .container ul.links li .link .positionSelector button {
  /* sizing */
  width: 1.5rem;
  height: 1.5rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* styling */
  border: none;
  background-color: var(--primary);
  border-radius: 0.25rem;
  color: var(--text);
}

.newTabEdit .container ul.links li .link .positionSelector button:hover {
  background-color: var(--secondary);
}

.newTabEdit .container ul.links li .link .positionSelector button:disabled {
  background-color: var(--background);
  color: var(--primary);
}

.newTabEdit .container ul.links li .link .positionSelector button .icon {
  font-size: 1rem;
}

.newTabEdit .container ul.links li .link .remove {
  /* position */
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;

  /* sizing */
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.125rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* styling */
  border: none;
  background-color: var(--primary);
  border-radius: 0.25rem;
  color: var(--text);
}

.newTabEdit .container ul.links li .link .remove:hover {
  background-color: var(--secondary);
}

.newTabEdit .container ul.links li .link .remove .icon {
  font-size: 1rem;
}

.newTabEdit .container ul.links li .link .iconWrapper {
  /* position */
  position: relative;

  /* sizing */
  --_size: 6rem;
  --_padding: 1rem;
  width: 100%;
  height: calc(var(--_size) + var(--_padding) * 2);
  padding: 1rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}
.newTabEdit .container ul.links li .link .iconWrapper .iconImage {
  /* sizing */
  width: 100%;
  height: var(--_size);
  object-fit: contain;
}

.newTabEdit .container ul.links li .link input {
  width: 100%;
}

.newTabEdit .container ul.links li .link input[type="url"],
.newTabEdit .container ul.links li .link input[type="text"] {
  /* sizing */
  width: 100%;
  padding: 0.25rem 0.5rem;

  /* text */
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;

  /* styling */
  border-radius: 0.25rem;
  border: none;
  background: var(--background);
  color: var(--text);
}

.newTabEdit .container ul.links li .link input[type="url"]:hover,
.newTabEdit .container ul.links li .link input[type="text"]:hover {
  outline: 2px solid var(--text);
}

.newTabEdit .container ul.links li .link input[type="url"]:focus-visible,
.newTabEdit .container ul.links li .link input[type="text"]:focus-visible {
  outline: 2px solid var(--accent);
}

.newTabEdit .container ul.links li .link button {
  /* sizing */
  width: 100%;
  height: 1.75rem;
  padding: 0.25rem 0.5rem;

  /* text */
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1;

  /* styling */
  border-radius: 0.25rem;
  border: none;
  background: var(--secondary);
  color: var(--text);
}

.newTabEdit .container ul.links li .link button:hover {
  background: var(--accent);
}

.newTabEdit .container ul.links li .link button:disabled {
  background: var(--background);
  color: var(--text-disabled);
}

.newTabEdit .container ul.links li .link .title {
  width: 100%;

  /* grid */
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.25rem;
}

.newTabEdit .container ul.links li .link .background {
  /* sizing */
  width: 100%;

  /* grid */
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25rem;
}

.newTabEdit .container ul.links .picker {
  /* position */
  position: absolute !important;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newTabEdit .container ul.links:has(.picker) li {
  pointer-events: none;
}


.newTabEdit .container ul.links li .link > *:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}