.searchWrapper {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;
  max-width: 80ch;
  height: 100%;

  /* flex */
  display: flex;
  flex-direction: row;

  /* styling */
  background-color: var(--primary);
  border-radius: var(--search-border-radius, 0.5rem);
  color: var(--text);
}

.searchWrapper.selected {
  background-color: var(--secondary);
}

.searchWrapper:has(.suggestionsBox) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline: 2px solid currentColor;
}

.searchWrapper .editShortcut {
  /* position */
  position: absolute;
  top: -2ch;
  left: 0;

  /* text */
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 700;

  /* styling */
  color: var(--_color-page);
  opacity: 0;

  /* transition */
  transition: opacity 150ms ease-in-out;
}

.searchWrapper .editShortcut.modifier {
  opacity: 1;
}

.searchWrapper:has(:focus) .editShortcut {
  /* styling */
  opacity: 0;
}

.searchWrapper .navIconWrapper {
  /* position */
  position: relative;

  /* sizing */
  aspect-ratio: 1/1;
  padding: 0.75rem;
  width: auto;
  height: 100%;
  min-width: 0;
  flex-grow: 0;
  flex-shrink: 0;


  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchWrapper .navIconWrapper .icon {
  /* sizing */
  width: 100%;
  height: 100%;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchWrapper .indicator {
  /* position */
  position: absolute;
  bottom: 0.25rem;
  right: 0.25rem;

  /* sizing */
  font-size: 0.75rem;

  /* styling */
  color: var(--text-secondary);
}

.searchWrapper .searchInput {
  /* sizing */
  width: 100%;
  height: 100%;

  /* text */
  font-size: 1.2rem;
  font-weight: 600;

  /* styling */
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: inherit;
}

.searchWrapper .searchInput:focus {
  outline: none;
}

.searchWrapper .searchInput::placeholder {
  text-transform: capitalize;
}

.searchWrapper {
  outline: 0.125rem solid transparent;
  outline-offset: -0px;
  transition: outline 75ms ease-in-out, outline-offset 75ms ease-in-out;
}

.searchWrapper:hover,
.searchWrapper:has(.suggestionsBox) {
  outline: 0.125rem solid var(--secondary);
  outline-offset: -0px;
}

.searchWrapper:focus-within {
  outline: 0.125rem solid currentColor;
  outline-offset: -0.125rem;
}

.searchWrapper .searchButton {
  /* sizing */
  width: 5rem;
  height: 100%;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* text */
  font-size: 1.2rem;

  /* styling */
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: inherit;
}
.searchWrapper .searchButton:hover {
  /* styling */
  background-color: var(--secondary);
}

.searchWrapper .suggestionsBox {
  /* position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;

  /* layout */
  display: flex;
  flex-direction: column;

  /* styling */
  background-color: var(--primary);
  outline: 0.125rem solid var(--secondary);
  border-top: none;
  border-radius: 0 0 var(--search-border-radius, 0.5rem) var(--search-border-radius, 0.5rem);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: outline 75ms ease-in-out, outline-offset 75ms ease-in-out;
}

.searchWrapper:focus-within .suggestionsBox {
  outline-color: currentColor;
  outline-offset: -0.125rem;
}

.searchWrapper .suggestionsBox a {
  /* sizing */
  height: 48px;
  width: 100%;

  /* flex */
  display: flex;
  flex-direction: row;

  /* text */
  font-size: 1rem;
  font-weight: 600;
  text-align: left;

  /* styling */
  color: var(--text);
  text-decoration: none;
  border-bottom: 1px solid var(--secondary);
}

.searchWrapper .suggestionsBox a.selectedSuggestion {
  /* styling */
  background-color: var(--secondary);
  color: var(--text-highlight);
}


.searchWrapper .suggestionsBox a .suggestion {
  /* sizing */
  padding: 0.75rem 1rem;
  padding-left: 0.25rem;

  /* layout */
  display: flex;
  align-items: center;
  width: 100%;

  /* styling */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}