.searchWrapper {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;
  max-width: 80ch;
  height: 100%;

  /* flex */
  display: flex;
  flex-direction: row;

  /* styling */
  background-color: var(--primary);
  border-radius: 0.5rem;
  color: var(--text);
}

.searchWrapper .editShortcut {
  /* position */
  position: absolute;
  top: -2ch;
  left: 0;

  /* text */
  font-size: 0.8rem;
  line-height: 1;
  font-weight: 700;

  /* styling */
  color: var(--_color-page);
  opacity: 0;

  /* transition */
  transition: opacity 150ms ease-in-out;
}

.searchWrapper .editShortcut.modifier {
  opacity: 1;
}

.searchWrapper:has(:focus) .editShortcut {
  /* styling */
  opacity: 0;
}

.searchWrapper .icon {
  /* sizing */
  aspect-ratio: 1/1;
  padding: 0.75rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchWrapper .searchInput {
  /* sizing */
  width: 100%;
  height: 100%;

  /* text */
  font-size: 1.2rem;
  font-weight: 600;

  /* styling */
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: inherit;
}

.searchWrapper .searchInput:focus {
  outline: none;
}

.searchWrapper .searchInput::placeholder {
  text-transform: capitalize;
}

.searchWrapper {
  outline: 2px solid transparent;
  outline-offset: -0px;
  transition: outline 75ms ease-in-out, outline-offset 75ms ease-in-out;
}

.searchWrapper:hover {
  outline: 2px solid var(--secondary);
  outline-offset: -0px;
}

.searchWrapper:focus-within {
  outline: 2px solid currentColor;
  outline-offset: -2px;
}

.searchWrapper .searchButton {
  /* sizing */
  width: 5rem;
  height: 100%;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* text */
  font-size: 1.2rem;

  /* styling */
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: inherit;
}
.searchWrapper .searchButton:hover {
  /* styling */
  background-color: var(--secondary);
}
