.controls {
  /* sizing */
  width: 100%;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.scoreboard {
  /* sizing */
  width: calc(100% + 2rem);
  margin: 0;
  padding: 0;
  margin: -1rem;
  overflow-x: scroll;

  /* flex */
  display: flex;
  flex-direction: row;

  /* styling */
  list-style: none;
}

.scoreboard > li {
  /* flex */
  display: flex;
  flex-direction: column;

  /* styling */
  border-right: 0.125rem solid var(--text);
}

.scoreboard > li:last-of-type {
  border-right: none;
}

.scoreboard > li .header,
.scoreboard > li .playerName {
  /* sizing */
  height: 2rem;
  width: 100%;
  min-width: 150px;

  /* grid */
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 75px;

  /* styling */
  background-color: var(--background-300);
  font-weight: bold;
  border-bottom: 1px solid var(--color-border);
}

.scoreboard > li .playerName {
  grid-template-columns: 1fr;
}

.scoreboard > li ol {
  /* sizing */
  margin: 0;
  padding: 0;

  /* flex */
  display: flex;
  flex-direction: column;

  /* styling */
  list-style: none;
}

.scoreboard > li ol > li,
.scoreboard > li ol > .header {
  /* sizing */
  height: 2rem;

  /* grid */
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 75px;

  /* styling */
  border-bottom: 1px solid var(--color-border);
}

.scoreboard > li ol > li:nth-of-type(even) {
  background-color: var(--background-200);
}

.scoreboard > .infoColumn .header {
  /* sizing */
  min-width: unset;
}

.scoreboard > .infoColumn ol > li,
.scoreboard > .infoColumn ol > .header {
  grid-template-columns: 1fr;
}

.scoreboard > .infoColumn ol > li {
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
}

.roundScoreInput {
  /* sizing */
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;

  /* styling */
  border: 0.125rem solid var(--text-alt);
  border-left: none;
  border-bottom: none;
  background: transparent;
  text-align: center;
  font-size: 1rem;
  color: var(--text);
  outline: none;
  border-radius: 0;
}

li:last-of-type .roundScoreInput {
  border-bottom: 0.125rem solid var(--text-alt);
}
.roundScoreInput::-webkit-outer-spin-button,
.roundScoreInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.roundScoreInput {
  -moz-appearance: textfield;
}

.currentRound {
  background-color: var(--accent) !important;
}

.currentRound > * {

  border: none !important;
}

.modifierContainer {
  /* sizing */
  width: 100%;
  overflow-y: auto;

  /* grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
}