.account {
  border: 1px solid var(--secondary);
}

.account .container {
  /* position */
  position: relative;

  /* sizing  */
  width: 100%;
  height: 100%;

  /* flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.account .container .text {
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.account .container a {
  /* text */
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;

  /* styling */
  color: inherit;
  text-decoration: none;
}

.account .container a:hover,
.account .container a:focus-visible {
  text-decoration: underline solid;
}

.account .container h3 {
  /* text */
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.account .container .button {
  /* sizing */
  margin: 0;
  padding: 0.5rem 1rem;

  /* text */
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;

  /* styling */
  background-color: var(--primary);
  border-radius: 0.25rem;
  color: var(--text);
}

.account .container .button:hover,
.account .container .button:focus-visible {
  /* styling */
  background-color: var(--secondary);
}

.account .container img.profileImage {
  /* sizing */
  --_size: 100px;
  width: var(--_size);
  height: var(--_size);

  /* styling */
  border-radius: 50%;
  --_border-width: 0.5rem;
  outline: var(--_border-width) solid var(--background);
}


.account .container .headerImage {
  /* position */
  position: absolute;
  --_outer-spacing: 0.5rem;
  inset: var(--_outer-spacing);
  bottom: auto;
  z-index: -1;

  /* sizing */
  width: calc(100% - var(--_outer-spacing) * 2);
  height: 150px;

  /* styling */
  border-radius: 0.25rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  object-fit: cover;
}
