.banner {
  /* sizing */
  width: 100%;
  height: 100%;
  grid-column: 1/-2;

}

.banner .container {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;
  height: 100%;
  padding: 1rem;

  /* flex */
  display: flex;
  align-items: end;
  justify-content: start;
}

.banner .container h1 {
  /* spacing */
  margin: 0;

  /* text */
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 800;
  color: black;
}

.banner .container .backdrop {
  /* position */
    position: absolute;
    inset: 0;
  z-index: -1;

    --s: 7px; /* control the size */
    --_card-main-background: #fff;
    --_card-main-background-alt: #c4c4c4;

    --c: #0000, var(--_card-main-background) 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) var(--_card-main-background-alt);
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
    opacity: 25%;
}


.banner .container .background {
  /* position */
  position: absolute;
  z-index: -2;
  inset: 0;

  /* sizing */
  width: 100%;
  height: 100%;

  /* image */
  object-fit: cover;
}