.dashboard {
  /* sizing */
  width: 100%;
}

.dashboard .container {
  /* grid */
  display: grid;
  --_column-width: repeat(auto-fit, minmax(min(282px, 100%), 1fr));
  grid-template-columns: var(--_column-width);
  grid-template-rows: 400px auto auto;
  gap: 0.5rem;
}

.dashboard .container > * {
  border-radius: 0.5rem;
  overflow: hidden;
}