.dashboard {
  /* sizing */
  width: 100%;
}

.dashboard .container {
  /* grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(282px, 100%), 1fr));
  grid-template-rows: 400px auto;
  gap: 0.5rem;
}

.dashboard .container > * {
  border-radius: 0.5rem;
  overflow: hidden;
}