.radio {
  grid-row: span 2;
}

.radio .container {
  /* position */
  position: relative;

  /* sizing */
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  --_image-size: 125px;

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.radio .container .logo {
  /* position */
  position: absolute;
  top: 1rem;
  right: 1rem;

  /* sizing */
  width: 1.25rem;
  height: 1.25rem;

  /* styling */
  fill: var(--text);
}

.radio .container .background {
  /* position */
  position: absolute;
  inset: 0;
  z-index: -1;

  /* sizing */
  width: 100%;
  height: 100%;

  /* styling */
  object-fit: cover;
  filter: blur(10px) brightness(0.5);
}

.radio .container .image {
  /* sizing */
  --_size: var(--_image-size);
  width: var(--_size);
  height: var(--_size);

  /* styling */
  border-radius: 0.5rem;
}

.radio .container .text {
  /* position */
  grid-area: text;

  /* styling */
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  gap: 0.25rem;
}

.radio .container .text .title {
  /* text */
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text);
  line-height: 1.1;
  text-align: center;
}

.radio .container .text .subTitle {
  /* text */
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text);
  line-height: 1;
  text-align: center;
}

.radio .container .controls {
  /* position */
  grid-area: links;

  /* flex */
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.radio .container .controls button {
  /* sizing */
  aspect-ratio: 1/1;
  padding: 0.25rem;

  /* styling */
  border-radius: 0.25rem;
  overflow: hidden;
  border: none;
  background-color: transparent;
  color: inherit;
  border: 1px solid transparent;
}

.radio .container .controls button:hover,
.radio .container .controls button:focus-visible {
  border-color: currentColor !important;
}

/* unused */
.radio .container .links {
  /* position */
  grid-area: links;

  /* grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25rem;
}

.radio .container .links .link {
  /* sizing */
  margin: 0;
  padding: 0.5rem 1rem;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* text */
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;

  /* styling */
  background-color: var(--primary);
  border-radius: 0.25rem;
  color: var(--text);
}

.radio .container .links .link:hover,
.radio .container .links .link:focus-visible {
  /* styling */
  background-color: var(--secondary);
}
